* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
}

body {
  background-color: #eff3ff;
}

.cards {
  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 50px;
  }
}

.card {
  &__container {
    width: 350px;
    // position: absolute;
    // transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin: 30px 20px;
  }
  &__content {
    position: relative;
    background: radial-gradient(circle at 50% 0%, green 36%, #ffffff 36%);
    width: 100%;
    padding: 30px 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    &__hp {
      width: 80px;
      background-color: #ffffff;
      text-align: center;
      padding: 8px 0;
      border-radius: 30px;
      margin-left: auto;
      font-weight: 400;
    }
  }
}
